
/* MAIN */

body {
    font-family: Verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
    outline: 0 none !important;
}

/* SEARCH BOX */

#search-box {
    height: 50px;
    line-height: 50px;
    float: right;
    width: calc(100% - 26px);
}

#search-box input, #search-box button {
    border: 1px solid #C7C7C7;
}

#search-box * {
    line-height: 30px;
    height: 30px;
}

#search-box button {
    margin-bottom: 0;
}

#search-box input {
    text-shadow: 0 1px 1px #EEE;
    color: #686868;
    margin: 10px 0 0;
}

.box-header {
    background: none repeat scroll 0 0 #F2F2F2;
    border-bottom: 1px solid #E4E4E4;
    border-radius: 3px 3px 0 0;
    color: #6494bb;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    letter-spacing: 0.08em;
    overflow: hidden;
    position: relative;
}

/* LOGO */

#logo a:hover {
    background-position: right 13px;
    opacity: 1;
    padding-left: 20px;
}
#logo a {
    background: url("../img/logo.png") no-repeat scroll right 32px rgba(0, 0, 0, 0);
    opacity: 0.5;
}

/* SIDEBAR */

.nav-option-radio i {
    color: transparent;
}

.nav-option-radio.selected i {
    color: inherit;
}

.main-menu .dropdown-menu > li > a.nav-option {
    padding-left: 26px;
}

.main-menu .divider {
    height: 15px;
    margin: 9px 0 0;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.8);
    font-size: 8px;
    font-weight: bold;
    text-align: center;
}

.main-menu .divider.inner-divider {
    background-color: transparent;
    margin-top: 0;
    height: 24px;
    padding-top: 9px;
}

.nav-option-textbox input {
    width: 56px;
    height: 21px;
    font-size: 11px;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    color: #333;
    border: 1px solid rgba(255,255,255,0.8);
}

.nav-option-textbox  {
    position: absolute;
    height: 0;
    width: 100%;
    padding: 8px 15px;
}

/* SIDEBAR BUTTONS */

.btn-sidebar-container {
    float: right;
    height: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
}

.btn-sidebar {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    height: 22px;
    line-height: inherit;
    opacity: 0.5;
    padding: 0;
    width: 22px;
    margin-left: 3px;
    display: none;
}

.btn-sidebar:hover {
    opacity: 1;
    color: inherit;
}

.main-menu > li > a {
    padding-right: 10px;
}

.main-menu > li > a:hover .btn-sidebar, .main-menu > li > a:focus .btn-sidebar, .main-menu > li.active > a .btn-sidebar {
    display: inherit;
}

/* SORTABLE JQUERY PLUGIN */

body.dragging, body.dragging * {
    /*cursor: move !important;*/
}

.dragged {
    position: absolute !important;
    opacity: 0.8;
    z-index: 2000;
    background-color: transparent;
}

.dragged a {
    background-color: transparent !important;
}

ul.main-menu li.placeholder {
    position: relative;
    height: 40px;
    border-top: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background-color: rgba(255,255,255,0.4);
    -webkit-box-shadow: 0px 0px 10px rgba(255,255,255,0.6);
    -moz-box-shadow: 0px 0px 10px rgba(255,255,255,0.6);
    box-shadow: 0px 0px 10px rgba(255,255,255,0.6);
    opacity: 0.8;
}

/* RESULTS TABLE */

#results-table {
    font-size: 12px;
}

#results-table > tbody > tr > td:nth-child(2), #results-table > tbody > tr > td:nth-child(3) {
    font-size: 9px;
    overflow: visible;
    text-align: right;
}

#results-table > tbody > tr > td:nth-child(4) {
    text-align: right;
    color: green;
}

#results-table > tbody > tr > td:nth-child(5) {
    text-align: right;
    color: blue;
}